* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.main-content {
  padding: 2em 5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}